.dropdown-menu-container {
    position: fixed;
    display: inline-block;
    right: -20px;
    top: 20px;
    overflow: hidden;
     margin: 30px;
}

.dropdown-button {
    background-color: #7be934;
    color: white;
    padding: 10px;
    border: none;
    width: 351px;
    height: 85px;
    font-size: 1.3rem;
    border-radius: 30px;
    position: relative;
    z-index: 2;
    cursor: pointer;
    overflow: hidden;
    font-family: 'Press Start 2P', cursive;
}

.dropdown-button:hover{
    background-color: #5106a7;
}

.dropdown-menu{
    position: fixed;
    background-color: #6161e3;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border: 5px solid #000000;


    list-style: none;
    width: 300px;
    padding: 0;
    translate: 22px;


    margin: 0;
    max-height: 0;
    overflow: hidden;
    font-size: 1.0rem;
    transition: max-height 0.5s ease-out, transform 0.5s ease-out;
    transform: translateY(-25px);
    border-radius: 5px;
    height: 400px;


}
.dropdown-menu li{
    margin: 30px;
    border: 5px solid #000000;
    background-color: #7be934;

}

.dropdown-menu.open {



    transform: translateY(0);
    transform: translateY(-2px);
    max-height: 800px;


}

.dropdown-item {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: black;
}

.dropdown-item:hover {
    background-color: #ddd;
}
